In [ ]:
# Download statistics about Kickstarter projects as a DataFrame
import pandas as pd
ksprojects = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv')

In [ ]:
# How many rows of data are in the DataFrame?
ksprojects.info()
# There are 65,418 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             65418 non-null  int64
 1   name           65418 non-null  object
 2   category       65418 non-null  object
 3   main_category  65418 non-null  object
 4   deadline       65418 non-null  object
 5   goal           65418 non-null  float64
 6   launched       65418 non-null  object
 7   state          65418 non-null  object
 8   backers        65418 non-null  int64
 9   country        65418 non-null  object
 10  usd_pledged    64673 non-null  float64
 11  currency       65418 non-null  object
 12  pledged        65418 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB

In [ ]:
# What are the names and data types of the columns?
ksprojects.dtypes
# Names of the columns are id, name, category, main_category, deadline, goal, 
# launched, state, backers, country, usd_pledged, currency, pledged.
# The data types include integers, objects, and floats.

id                 int64
name              object
category          object
main_category     object
deadline          object
goal             float64
launched          object
state             object
backers            int64
country           object
usd_pledged      float64
currency          object
pledged          float64
dtype: object

In [ ]:
# Do any of the columns contain null values?
ksprojects.info()
# Yes. The column "usd_pledged" contains null entries.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             65418 non-null  int64
 1   name           65418 non-null  object
 2   category       65418 non-null  object
 3   main_category  65418 non-null  object
 4   deadline       65418 non-null  object
 5   goal           65418 non-null  float64
 6   launched       65418 non-null  object
 7   state          65418 non-null  object
 8   backers        65418 non-null  int64
 9   country        65418 non-null  object
 10  usd_pledged    64673 non-null  float64
 11  currency       65418 non-null  object
 12  pledged        65418 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB

In [ ]:
# Find all successful documentary projects and sort them by the amount pledged.
# Print the top 10 highest pledges.

# First looked at the data to get idea of how to sort
ksprojects.head()

# Pulled out all "state" that were "successful" and with pledge amt
# greater than or equal to one.
successful_projects = (ksprojects['state'] == 'successful') & (ksprojects['pledged'] >= 1)
selected = ksprojects.iloc[successful_projects.values, [1, 7, 12]]
selected

# Next sorted by pledged in ascending order and printed only the 10 highest pledges.
pledged_asc = selected.sort_values(by= 'pledged')
pledged_asc.tail(10)

                                                    name       state    pledged
22674  Reaper Miniatures Bones II: The Return Of Mr B...  successful  3169610.0
53611  THE P-51 AUTOMATIC WATCH by REC - Recycling Ho...  successful  3193360.0
63772                      Bears vs Babies - A Card Game  successful  3215680.0
27604     The Micro: The First Truly Consumer 3D Printer  successful  3401360.0
59897                                   Massive Darkness  successful  3560640.0
46419                            Zombicide: Black Plague  successful  4079200.0
45290                  Bloodstained: Ritual of the Night  successful  5545990.0
26917     Pono Music - Where Your Soul Rediscovers Music  successful  6225360.0
62904                      Fidget Cube: A Vinyl Desk Toy  successful  6465690.0
12253             OUYA: A New Kind of Video Game Console  successful  8596480.0

In [ ]:
# Create a new column named average_per_backer and set its value to the total 
# amount pledged / number of backers. What happened to the rows with 0 backers?
# How can this be dealt with?

# Created a new column of the average pledge per backer.
ksprojects = ksprojects.assign(average_per_backer = (ksprojects.pledged) / (ksprojects.backers))
ksprojects.head()

# Finding the rows with 0 backers
no_backers = ksprojects['backers'] == 0
no_backers

# Counting how many rows have 0 backers
no_backers.value_counts()
# There are 9,886 rows without backers

# Selecting only rows corresponding to True (no backers)
ksprojects.iloc[no_backers.values]

# The rows with 0 backers have a Null value in the average per backer column.
# This can be dealt with by dropping these rows (dropna method) if not of
# interest or by filling these rows with useful data, such as "0" or
# "No Backers" using fillna method.

               id  ... average_per_backer
18     1018181261  ...                NaN
19     1275895636  ...                NaN
30     1322291135  ...                NaN
32     1162718219  ...                NaN
41     1065173583  ...                NaN
...           ...  ...                ...
65409  1056669910  ...                NaN
65412  1171488981  ...                NaN
65415  1212504494  ...                NaN
65416  1347446277  ...                NaN
65417  1075208929  ...                NaN

[9886 rows x 14 columns]

In [ ]:
# Drop all rows with 0 backers then repeat the previous exercise.

# Dropped the rows if backers was 0 and made new table when backers were greater
# than 0.
ksprojects_filtered = ksprojects[ksprojects.backers != 0]
ksprojects_filtered.info()

# Created a new column of the average pledge per backer.
ksprojects_filtered = ksprojects_filtered.assign(average_per_backer = (ksprojects_filtered.pledged) / (ksprojects_filtered.backers))
ksprojects_filtered.head()

# Finding the rows with 0 backers
no_backers_ksprojects_filtered = ksprojects_filtered['backers'] == 0
no_backers_ksprojects_filtered
# Returns message that there are no rows with 0 backers

# Counting how many rows have 0 backers
no_backers_ksprojects_filtered.value_counts()
# Returns error message because these rows are gone.

# Selecting only rows corresponding to True (no backers)
ksprojects_filtered.iloc[no_backers.values]
# Returns error message because these rows are gone.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55532 entries, 0 to 65414
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  55532 non-null  int64
 1   name                55532 non-null  object
 2   category            55532 non-null  object
 3   main_category       55532 non-null  object
 4   deadline            55532 non-null  object
 5   goal                55532 non-null  float64
 6   launched            55532 non-null  object
 7   state               55532 non-null  object
 8   backers             55532 non-null  int64
 9   country             55532 non-null  object
 10  usd_pledged         55531 non-null  float64
 11  currency            55532 non-null  object
 12  pledged             55532 non-null  float64
 13  average_per_backer  55532 non-null  float64
dtypes: float64(4), int64(2), object(8)
memory usage: 6.4+ MB

IndexError: ignored

In [ ]:
# Creates a crosstab to get a count of records for each combination of state 
# and category.
pd.crosstab(ksprojects['state'], ksprojects['category'])

category    3D Printing  Academic  Accessories  ...  World Music  Young Adult  Zines
state                                           ...
canceled             17        21           48  ...           31           16      6
failed               59        86          238  ...          174           78     26
live                  3         3           16  ...            2            1      1
successful           43        43          121  ...          168           23     17
suspended             2         4            2  ...            1            0      0
undefined             1         0            1  ...            0            0      0

[6 rows x 158 columns]

In [ ]:
# nycflights13 data contains information about all flights that departed NYC in 2013.
# Flights link: https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv
# Airlines link: https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv

# Merges these two DataFrames into a single DataFrame called nycflights13
# and prints some basic information about the separate and merged DataFrames.
flights = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv")
airlines = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv")
print(flights.columns)
print(airlines.columns)

nycflights13 = pd.merge(flights, airlines)

print(nycflights13.columns)
print(nycflights13.shape)

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')
Index(['carrier', 'name'], dtype='object')
Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'name'],
      dtype='object')
(336776, 20)

In [ ]:
# Are there any missing values in this DataFrame?
nycflights13.info()
# Yes, it appears that there are missing values because some non-null
# values show less than the 336,776 records that we know this data contains.

# If values are missing, drop them.
# Second table shows info for data after dropping missing values.
nycflights13_filtered = nycflights13.dropna()
nycflights13_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336776 entries, 0 to 336775
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
 19  name            336776 non-null  object
dtypes: float64(5), int64(9), object(6)
memory usage: 54.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 327346 entries, 0 to 336775
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            327346 non-null  int64
 1   month           327346 non-null  int64
 2   day             327346 non-null  int64
 3   dep_time        327346 non-null  float64
 4   sched_dep_time  327346 non-null  int64
 5   dep_delay       327346 non-null  float64
 6   arr_time        327346 non-null  float64
 7   sched_arr_time  327346 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         327346 non-null  object
 10  flight          327346 non-null  int64
 11  tailnum         327346 non-null  object
 12  origin          327346 non-null  object
 13  dest            327346 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        327346 non-null  int64
 16  hour            327346 non-null  int64
 17  minute          327346 non-null  int64
 18  time_hour       327346 non-null  object
 19  name            327346 non-null  object
dtypes: float64(5), int64(9), object(6)
memory usage: 52.4+ MB

In [ ]:
import pandas as pd
# Census
# census_population link: https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv
# census_regions link: https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv


# Merges these two DataFrames into a single DataFrame called census and 
# prints some basic information about the separate and merged DataFrames.
populations = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv")
regions = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv")

# Prints information about the separate DataFrames.
print(populations.columns)
print(regions.columns)

# Merges populations and regions.
census = pd.merge(populations, regions)

# Prints information about the merged DataFrames, now called Census.
print(census.columns)
print(census.shape)
census.info()
census.head

Index(['state', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], dtype='object')
Index(['state', 'region', 'division'], dtype='object')
Index(['state', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       'region', 'division'],
      dtype='object')
(51, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     51 non-null     object
 1   2010      51 non-null     int64
 2   2011      51 non-null     int64
 3   2012      51 non-null     int64
 4   2013      51 non-null     int64
 5   2014      51 non-null     int64
 6   2015      51 non-null     int64
 7   2016      51 non-null     int64
 8   region    51 non-null     object
 9   division  51 non-null     object
dtypes: int64(7), object(3)
memory usage: 4.4+ KB

<bound method NDFrame.head of                    state      2010  ...     region            division
0                Alabama   4785492  ...      South  East South Central
1                 Alaska    714031  ...       West             Pacific
2                Arizona   6408312  ...       West            Mountain
3               Arkansas   2921995  ...      South  West South Central
4             California  37332685  ...       West             Pacific
5               Colorado   5048644  ...       West            Mountain
6            Connecticut   3579899  ...  Northeast         New England
7               Delaware    899816  ...      South      South Atlantic
8   District of Columbia    605183  ...      South      South Atlantic
9                Florida  18849098  ...      South      South Atlantic
10               Georgia   9713521  ...      South      South Atlantic
11                Hawaii   1363945  ...       West             Pacific
12                 Idaho   1571010  ...       West            Mountain
13              Illinois  12841578  ...    Midwest  East North Central
14               Indiana   6490528  ...    Midwest  East North Central
15                  Iowa   3050738  ...    Midwest  West North Central
16                Kansas   2858850  ...    Midwest  West North Central
17              Kentucky   4348662  ...      South  East South Central
18             Louisiana   4544996  ...      South  West South Central
19                 Maine   1327730  ...  Northeast         New England
20              Maryland   5788584  ...      South      South Atlantic
21         Massachusetts   6565524  ...  Northeast         New England
22              Michigan   9877495  ...    Midwest  East North Central
23             Minnesota   5311147  ...    Midwest  West North Central
24           Mississippi   2970322  ...      South  East South Central
25              Missouri   5996118  ...    Midwest  West North Central
26               Montana    990641  ...       West            Mountain
27              Nebraska   1830051  ...    Midwest  West North Central
28                Nevada   2703284  ...       West            Mountain
29         New Hampshire   1316872  ...  Northeast         New England
30            New Jersey   8803729  ...  Northeast     Middle Atlantic
31            New Mexico   2064756  ...       West            Mountain
32              New York  19402640  ...  Northeast     Middle Atlantic
33        North Carolina   9558915  ...      South      South Atlantic
34          North Dakota    674526  ...    Midwest  West North Central
35                  Ohio  11540983  ...    Midwest  East North Central
36              Oklahoma   3759603  ...      South  West South Central
37                Oregon   3838048  ...       West             Pacific
38          Pennsylvania  12712343  ...  Northeast     Middle Atlantic
39          Rhode Island   1053337  ...  Northeast         New England
40        South Carolina   4635943  ...      South      South Atlantic
41          South Dakota    816325  ...    Midwest  West North Central
42             Tennessee   6356671  ...      South  East South Central
43                 Texas  25244310  ...      South  West South Central
44                  Utah   2775326  ...       West            Mountain
45               Vermont    625982  ...  Northeast         New England
46              Virginia   8025773  ...      South      South Atlantic
47            Washington   6743226  ...       West             Pacific
48         West Virginia   1854230  ...      South      South Atlantic
49             Wisconsin   5690263  ...    Midwest  East North Central
50               Wyoming    564513  ...       West            Mountain

[51 rows x 10 columns]>

In [ ]:
# Re-shape census so that one column contains all population measures, and 
# another the year attributes.

census_melt = pd.melt(frame=census, id_vars=['state', 'region', 'division'], value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name = 'year', value_name = 'population')
census_melt

             state   region            division  year  population
0          Alabama    South  East South Central  2010     4785492
1           Alaska     West             Pacific  2010      714031
2          Arizona     West            Mountain  2010     6408312
3         Arkansas    South  West South Central  2010     2921995
4       California     West             Pacific  2010    37332685
..             ...      ...                 ...   ...         ...
352       Virginia    South      South Atlantic  2016     8411808
353     Washington     West             Pacific  2016     7288000
354  West Virginia    South      South Atlantic  2016     1831102
355      Wisconsin  Midwest  East North Central  2016     5778708
356        Wyoming     West            Mountain  2016      585501

[357 rows x 5 columns]

In [ ]:
# Group the data by year and summarize it. 

census_melt.groupby('year').describe()

     population                              ...
          count          mean           std  ...        50%        75%         max
year                                         ...
2010       51.0  6.065651e+06  6.839536e+06  ...  4348662.0  6654375.0  37332685.0
2011       51.0  6.111046e+06  6.907730e+06  ...  4369354.0  6717221.5  37676861.0
2012       51.0  6.156831e+06  6.974942e+06  ...  4384799.0  6776617.0  38011074.0
2013       51.0  6.200096e+06  7.038774e+06  ...  4400477.0  6837396.0  38335203.0
2014       51.0  6.246342e+06  7.110811e+06  ...  4413057.0  6902053.5  38680810.0
2015       51.0  6.292091e+06  7.181603e+06  ...  4424611.0  6988927.5  38993940.0
2016       51.0  6.335834e+06  7.243849e+06  ...  4436974.0  7109535.5  39250017.0

[7 rows x 8 columns]

In [ ]:
# Group the data by region, division and year and summarize it. 

census_melt.groupby(['region', 'division', 'year']).describe()

                                population              ...
                                     count        mean  ...         75%         max
region  division           year                         ...
Midwest East North Central 2010        5.0   9288169.4  ...  11540983.0  12841578.0
                           2011        5.0   9301433.8  ...  11544824.0  12860012.0
                           2012        5.0   9314559.0  ...  11550839.0  12870798.0
                           2013        5.0   9332093.0  ...  11570022.0  12879505.0
                           2014        5.0   9346265.8  ...  11594408.0  12867544.0
...                                    ...         ...  ...         ...         ...
West    Pacific            2012        5.0  10185665.0  ...   6895226.0  38011074.0
                           2013        5.0  10274464.0  ...   6968006.0  38335203.0
                           2014        5.0  10371286.2  ...   7054196.0  38680810.0
                           2015        5.0  10468346.0  ...   7160290.0  38993940.0
                           2016        5.0  10560386.6  ...   7288000.0  39250017.0

[63 rows x 8 columns]